{% extends "layout.html" %}
{% block body %}
<div id='docs_spinners' style='text-align:center;'>
	<div class="spinner-grow text-primary" role="status">
		<span class="sr-only">Loading...</span>
	</div>
	<div class="spinner-grow text-secondary" role="status">
		<span class="sr-only">Loading...</span>
	</div>
	<div class="spinner-grow text-success" role="status">
		<span class="sr-only">Loading...</span>
	</div>
	<div class="spinner-grow text-danger" role="status">
		<span class="sr-only">Loading...</span>
	</div>
	<div class="spinner-grow text-warning" role="status">
		<span class="sr-only">Loading...</span>
	</div>
	<div class="spinner-grow text-info" role="status">
		<span class="sr-only">Loading...</span>
	</div>
	<div class="spinner-grow text-light" role="status">
		<span class="sr-only">Loading...</span>
	</div>
	<div class="spinner-grow text-dark" role="status">
		<span class="sr-only">Loading...</span>
	</div>
</div>
<div class="card" style="width: 18rem;margin-left:auto;margin-right:auto;" >
	<img class="card-img-top"  src="/static/comingsoon.gif" alt="...">
	<div class="card-body">
		<h5 class="card-title">Downloads</h5>
		<p class="card-text">Work in progress.</p>
		<a href="/" class="btn btn-primary">Home</a>
	</div>
</div>
{% endblock %}
