{% extends "layout.html" %}
{% block body %}
<div class="jumbotron">
	<h4>Inside the motor by Dan Connor.</h4>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/3gRhDKE8vKU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<figure class="figure">
	<img style="width:50px;" src="/static/shell-helix-ultra.jpg" class="card-img-top" alt="...">
	<figcaption class="figure-caption text-right">BMW LL01 or BMW LL04.</figcaption>
</figure>
<div> <a class="btn btn-primary" href="/">Home</a> </div>
<hr />
{% endblock %}

