{% extends "layout.html" %}
{% block body %}

<div class="jumbotron" style='text-align:center;'>
	<h1> {{ ptitle }}</h1>
<p>
ILSAC GF-6 will be split into two subcategories: GF-6A and GF-6B. The principal difference between the two subcategories of oils concerns viscosity grade and high temperature, high shear (HTHS) performance.

The proposed ILSAC GF-6A specification would replace the current ILSAC GF-5 specification, represented by the starburst/certification trademark, and would provide a new performance level of an engine oil for spark-ignited internal combustion engines.

The proposed ILSAC GF-6B will provide the same performance as GF-6A, but with the added aim of lower HTHS to deliver potential further fuel economy benefits. ILSAC GF-6B will be defined for 0W-16 viscosity grade oils only.

<b>GF-6A - The attributes of GF-6A include the following:</b>

Backwards compatible with older engines
Better durability to mitigate LSPI
Good fuel economy, as measured by Sequence VIE
Current ILSAC GF-5 SAE grades
6 mPa.s HTHS

<b>GF-6B - The attributes of GF-6B include the following:</b>

Not backwards compatible with older engines
Better durability to mitigate LSPI
Better fuel economy, as measured by Sequence VIF
Fuel economy grade of SAE 0W-16
3-2.6 mPa.s HTHS

</p>

</div>
{% endblock %}
