{% extends "layout.html" %}
{% block body %}

<div class="jumbotron" style='text-align:center;'>
	<h1> {{ ptitle }}</h1>
	<div class="list-group">
		<a href='https://www.auto-data.net/en/bmw-brand-86' class="list-group-item active">
			<h4 class="list-group-item-heading">Vehicle Catalog</h4>
			<p class="list-group-item-text">Vehicle Catalog from Auto-Data.</p>
		</a>
		<a href='http://bmwfans.info/parts-catalog' class="list-group-item">
			<h4 class="list-group-item-heading">BMW Parts Catalog</h4>
			<p class="list-group-item-text">BMW Parts Catalog based on ETK.</p>
		</a>
		<a href='https://www.michelin.co.uk/auto/browse-tyres/by-vehicle/bmw/5-series/5-series-e60-saloon/2007/550i%20(4.8%20V8%20367)/245---35%20R19%2093%20Y%3B275---30%20R19%2096%20Y' class="list-group-item">
			<h4 class="list-group-item-heading">Tires Finder</h4>
			<p class="list-group-item-text">Tires Search per Vehicle.</p>
		</a>
		<a href='http://www.bmwstylewheels.com/' class="list-group-item">
			<h4 class="list-group-item-heading">BMW Rims Reference</h4>
			<p class="list-group-item-text">BMW rims information.</p>
		</a>
	</div>
</div>
{% endblock %}
